#result {
  display: none;

  h2 {
    font-size: 1.5rem;
  }

  .imc-wrapper {
    font-size: 1.1rem;
    margin-top: .5rem;

    span {
      color: rgb(94, 94, 237);
      font-weight: 700;
    }
  }
}